<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Mantenimiento Compra y Gastos</title>

 	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/CSS/estilo.css}">
<link rel="stylesheet" href="/src/main/resources/static/CSS/estilo.css">
	
	
	
	<style>
		.modal-header{
		color:#fff;
		background: #428bca;
		display: flex;
  		justify-content: center;  		
		}
		.help-block {
		  		color: red;
		}
		.form-group.has-error .form-control-label {
		  color: red;
		}
		.form-group.has-error .form-control {
		  border: 1px solid red;
		  box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
		}
		.alertify .ajs-dialog {
		    top: 50%;
		    transform: translateY(-50%);
		    margin: auto;
		}
		.ajs-header{
			background-color: #286090 !important;
			color: white !important;
			/*text-align: center;*/
			font-size: 18px;
			font-weight: bold;
		}
		.ajs-ok{
			color: #fff;
		    background-color: #007bff;
		    border-color: #007bff;
		}
		.ajs-cancel{
			color: #fff;
		    background-color: #dc3545;
		    border-color: #dc3545;
		}
	</style>
	  
</head>
<body>
	<div class="container">
		
		<h3 class="text-center">LISTADO DE SUPERVISORES</h3>	  
	  	
	  	
	  	<!-- Modal PARA REGISTRAR-->
		<div class="modal fade" id="modalCompra" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">COMPRA Y GASTOS</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <form id="formCompra" action="actualizar" method="post" class="row g-3">
		        
		         <div class="form-group col-md-4">
				    <label for="validationCustomUsername" class="form-label fw-bold">AFECTO NACIONAL</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <input type="text" class="form-control" name="afecto" id="idAfecto" readonly value="0">
				    </div>
				  </div>
				  		  
				  <div class="form-group col-md-6">
				    <label for="validationCustomUsername" class="form-label fw-bold">INAF</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <input type="text" class="form-control" name="inaf" id="idInaf">
				    </div>
				  </div>
				  
				  <div class="form-group col-md-6">
				    <label for="validationCustomUsername" class="form-label fw-bold">TOTAL V.C.</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <input type="text" class="form-control" name="total" id="idTotal">
				    </div>
				  </div>
				  
				  <div class="form-group col-md-6">
				    <label for="validationCustomUsername" class="form-label fw-bold">I.G.V. COMPRAS</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <input type="text" class="form-control" name="igv" id="idIgv">
				    </div>
				  </div>
				  
				  <div class="form-group col-md-6">
				    <label for="validationCustomUsername" class="form-label fw-bold">PRECIO DE COMPRAS</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <input type="text" class="form-control" name="precio" id="idPrecio">
				    </div>
				  </div>
				  
				  
				 
				  
				  <div class="modal-footer">
			      	<button type="submit" class="btn btn-primary"><i class="bi bi-save2"></i> Actualizar</button>
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i> Cerrar</button>
			      </div>
				</form>
		      </div>
		    </div>
		  </div>
		</div>
	    <!--fin modal PARA REGISTRAR-->

	    <div class="mt-5">
	    <table id="tableEdificios" class="table table-striped" style="width:100%">
        <thead>
							   <tr>
					                <th>AFECTO NACIONAL</th>
					                <th>INAF</th>
					                <th>TOTAL V.C.</th>
					                <th>I.G.V. COMPRAS</th>
					                <th>PRECIO DE COMPRAS</th>
					                <th></th>
					            </tr>
							  </thead>
							  <tbody>
								<tr th:each="row:${compra}">
							      <td th:text="${row.afecto}"></td>
							      <td th:text="${row.inaf}"></td>
							      <td th:text="${row.total_vc}"></td>
							      <td th:text="${row.igv}"></td>
							      <td th:text="${row.precio_compra}"></td>
							      <td>
							      <button type="button" class="btn btn-primary btn-editar" data-bs-toggle="modal" data-bs-target="#modalCompra">
							  		Editar 
							  	  </button>
							      </td>
							    </tr>  
							  </tbody>
    </table>
	</div>    
	    
	  
	</div>
	
	<!-- JS principal -->
	<script th:src="@{/resources/js/jquery-3.5.1.js}"></script>

	<!-- Option 1: Bootstrap Bundle with Popper -->
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>

	<!-- JS para la tabla -->
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

	<!--JS para validar  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.js"></script>
	
	<!--JS para Calendario  -->
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script> 
	
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	
	
	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		let msj;
		msj=/*[[${MENSAJE}]]*/
		toastr.success(msj, toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});
	</script>
	
	
	<script>
		$(function() {
				$('#usr1').datepicker({
					'format': 'yyyy-mm-dd',
					'autoclose': true
				});
		
			});
	</script>

	<script>
		$(document).ready(function () {
		    $('#tableEdificios').DataTable();
		    $('#modalEdificio')
	        .on('hidden.bs.modal',function(){
				$("#formEdificio").bootstrapValidator('resetForm',true);
				$("#idCodigo").val(0)
			})
		    
		});
		
		$(document).on("click",".btn-editar",function(){
			let cod=$(this).parents("tr").find("td")[0].innerHTML;
			$.get("buscar?codigo="+cod,function(response){
				console.log(response);
				$("#idAfecto").val(response.afecto);
				$("#idInaf").val(response.inaf);
				$("#idTotal").val(response.total);
				$("#idIgv").val(response.igv);
				$("#idPrecio").val(response.precio);
			})
			
		})
		
		
		
		
	</script>
	
	
</body>
</html>

