<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas</title>
    <link th:href="@{/resources/CSS/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/resources/CSS/dataTables.bootstrap5.min.css}" rel="stylesheet">  
	<link th:href="@{/resources/datepicker/bootstrap-datepicker.css}" rel="stylesheet">
	<link th:href="@{/resources/CSS/bootstrap-icons.css}" rel="stylesheet">
	
	<link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
	
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}">
	
	<link rel="stylesheet" th:href="@{/resources/CSS/estilo.css}">	
</head>
<body>
	<div th:insert="plantilla/UITemplate :: cabecera"></div>
	<div class="cuerpo-contenedor">
		<center><h1>Empresa</h1></center>
		<hr>
		<div class="frmempresa">
			<div class="frm">
				<div>
					<center><img class="img-frm" src="/resources/img/Empresa.png"></center>
				</div>
				<div>
					<center>
						<form th:action="@{/mantenimiento/empresa}" method="post">
							<div class="form-group">
								<label class="control-label">Código de la empresa</label>
								<input id="idCodigo" class="tamano" name="codigo" value="0" readonly>
							</div>
							<div class="form-group">
								<label class="control-label">Nombre de la empresa</label>
								<input id="idNombre" class="tamano" name="nombre">
							</div>
							<br>
							<div class="form-group botones">
								<input type="submit" value="Ejecutar" class="btn btn-primary">
								<a th:href="@{/menu}" class="btn btn-primary red">Regresar</a>
							</div>
						</form>
					</center>
				</div>
			</div>
			
			<div class="lista">				
			  <table id="tableDocente" class="table table-striped table-info" style="width:100%">
		        <thead>
				   <tr>
				   		<th>Código Empresa</th>
		                <th>Nombre Empresa</th>
		                <th></th>
		            </tr>
			    </thead>
			    <tbody>
					<tr th:each="row:${empresas}">
					  <td th:text="${row.codempresa}"></td>
				      <td th:text="${row.nomempresa}"></td>
				      <td class="option"><a class="btn btn-info btn-editar" data-bs-toggle="modal" data-bs-target="#modalMedicamento">Seleccionar</a></td>
				    </tr>  
				</tbody>
		      </table>
			</div>
		</div>
	</div>
</body>

<script th:src="@{/resources/js/jquery-3.5.1.js}"></script>
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>

<script>
	//asignar evento click a todos los botones con nombre de clase "btn-editar"
	$(document).on("click",".btn-editar",function(){
		//leer la columna código de la fila actual según el botón que se hizo click
		let cod;
		cod=$(this).parents("tr").find("td")[0].innerHTML;
		//get
		$.get("buscarEmpresa?codigo="+cod,function(response){
			//console.log(response);
			$("#idCodigo").val(response.codempresa);
			$("#idNombre").val(response.nomempresa);
		})
	})
	
	//asignar evento click a todos los botones con nombre de clase "btn-eliminar"
	$(document).on("click",".btn-eliminar",function(){
		//leer la columna código de la fila actual según el botón que se hizo click
		let cod;
		cod=$(this).parents("tr").find("td")[0].innerHTML;
		alertify.confirm("¿Eliminar registro?",
		  function(){
			window.location="eliminarEmpresa?codigo="+cod;
		  },
		  function(){
		    alertify.error('Ah, OK');
		  });
	})
</script>

</html>